# ignorando arquivos gerados pelo Quartus
*_generation_script*
*_inst.vhd
*.bak
*.cmp
*.done
*.eqn
*.hex
*.html
*.jdi
*.pin
*.pof
*.ptf.*
*.qar
*.qarlog
*.rpt
*.smsg
*.sof
*.sopc_builder
*.summary
*.tcl
*~
*example*
*sopc_*
*.sdc
*.qws
.DS_Store


# ignorando pastas geradas pelo Quartus
incremental_db/
simulation/
timing/
testbench/
*_sim/
db/
output_files/
.qsys_edit/
greybox_tmp/
