function Main.main 0
push constant 50
push constant 50
push constant 30
call Main.drawQuadrado 3
pop temp 0
push constant 0
return
function Main.drawQuadrado 0
push argument 0
push argument 2
sub
push argument 1
push argument 2
sub
push argument 0
push argument 2
add
push argument 1
push argument 2
sub
call Screen.drawLine 4
pop temp 0
push argument 0
push argument 2
add
push argument 1
push argument 2
sub
push argument 0
push argument 2
add
push argument 1
push argument 2
add
call Screen.drawLine 4
pop temp 0
push argument 0
push argument 2
add
push argument 1
push argument 2
add
push argument 0
push argument 2
sub
push argument 1
push argument 2
add
call Screen.drawLine 4
pop temp 0
push argument 0
push argument 2
sub
push argument 1
push argument 2
sub
push argument 0
push argument 2
sub
push argument 1
push argument 2
add
call Screen.drawLine 4
pop temp 0
push constant 0
return
